.thumb__titles {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s all;
    width: fit-content;
}

.thumb__titles.hovered {
    opacity: 1;
    transform: translateX(-50%) translateY(65px);
    transition: 0.5s all;
    transition-delay: 0.1s;
}

.thumb__h2 {
    color: #000;
    font-size: 26px;

    margin: 5px 0 0;
}

.thumb__h3 {
    color: #ff3737;;
    text-align: center;

    margin: 5px 20px 0;
}

.thumb__container {
    height: 300px;
    width: 50%;    
    position: relative;
}

.thumb__container::before {
    opacity: 0;

    background: red;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';

    transition: 1s all;
    transition-delay: 0.1s;
}

.thumb__container.hovered:before {
    opacity: 0.9;

    transition: 0.4s all;
}

.thumb__link {
    opacity: 0;
    position: absolute;
    bottom: 0px;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s all;
    /* transition-delay: 0.4s; */

    color: black;
    border: 1px solid #ff3d38;
    padding: 7px 15px;
    font-size: 18px;
    text-decoration: none;
}

.thumb__link.hovered {
    opacity: 1;
    transform: translateX(-50%) translateY(-90px);
    transition: 0.5s all;
    transition-delay: 0.1s;
}