@-webkit-keyframes typing {
    from { width: 0 }
    to { width: 6em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width: 6em }
}

@keyframes typing {
    from { width: 0 }
    to { width: 6em }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

/* body { font-family: Consolas, monospace; } */

/* h1 { 
    font-size:150%;
    width:16.3em;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid black;
    
    -webkit-animation: typing 17s steps(30, end),
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 17s steps(30, end),
                        blink-caret 1s step-end infinite;
} */

.nav-span {
    /* width: 0px; */
    display: inline-block;
}
.nav-span.mounted {
    /* font-size:150%;
    width: 6em;
    white-space:nowrap;
    overflow:hidden;
    border-right: .1em solid black;

    transition: width 3s ease;
    
    -webkit-animation: typing 3s steps(9, end), blink-caret 1s step-end infinite;
    -moz-animation: typing 3s steps(9, end), blink-caret 1s step-end infinite;
    animation: typing 3s steps(9, end), blink-caret 1s step-end infinite; */
}